main {
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    font-family: sans-serif;
    grid:
        /* Filas / Columnas */
        10fr 5fr /  auto-flow 2fr 8fr;
    ;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}