section {
    display: grid;
    grid-gap: 10px;
    font-family:sans-serif;
    margin: 20px 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.auto-fill div {
    background-color: goldenrod;
}

.auto-fit div {
    background-color: purple;
    color: white;
}

.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}