main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;

    grid-template-columns:
        [sidebar-start] 1fr
        [sidebar-end contenido-start] 2fr
        [contenido-end];

    grid-template-rows:
        [header-start] 1fr
        [header-end contenido-start] 2fr
        [footer-start] 1fr
        [footer-end];
}

main > * {
    font-family: sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-column: sidebar-start / contenido-end;
}

aside {
    grid-row: header-end / footer-end;
}

footer {
    grid-column: contenido-start / contenido-end;
}