main {
    height: 100vh;
    display: grid;
    /*grid-gap: 10px 30px;*/
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* Implicit grid */
    grid-auto-rows: 1fr;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
}