main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    font-family: sans-serif;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

main > * {
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}

@media (max-width: 300px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}