body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows:  repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    grid-auto-columns: minmax(150px, 1fr);
    grid-auto-flow: column dense;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border: 1px solid black;
}

section:nth-child(3n) {
    background-color: purple;
    grid-column-end: span 2;
}

section:nth-child(7n) {
    background-color: cyan;
    grid-row-end: span 2;
}

section:nth-child(12n) {
    background-color: aqua;
    grid-column-end: span 3;
    grid-row-end: span 3;
}
